/* 1.element selector */
h1 {
  color: red;
}

/* 2.id selector */
/* bersifat unik, tidak boleh ada id yang sama */
#judul {
  font-weight: 800;
}

/* 3.class selector */
/* tidak bersifat unik seperti id selector */
.sub-judul {
  color: red;
}

.content {
  font-style: italic;
  color: blueviolet;
}

/* 1.multiple selector */
.p1,
.p3 {
  color: blueviolet;
}

.link:hover {
  background-color: black;
  color: aliceblue;
}

.judul {
  text-align: left;
  text-shadow: 2px 5px 10px black;
}

.box {
  border: 2px solid black;
  /* background-color: aqua; */
  padding: 12px;
  margin: 10px;
}

.box,
.content {
  border: 1px solid blue;
  /* background-color: b; */
}

body {
    background-color: gray;
}
body{
    /* background-image: url(../img/DSC_0097.JPG); */
    background-size: 100%;
    /* background-repeat: no-repeat; */
}

.border {
    border: 1px;
    border-style: dashed;
}


